
html{
    font-size:62.5%; /* 16px x 62.5=10px=1rem*/
    box-sizing: border-box;

}

body{
    margin:0;
    height: 100vh;
    font-size: 1.6rem;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* Layout */
.grid-container{
    display:grid;
    grid-template-areas:
     'header'
     'main'
     'footer';
     grid-template-columns:1fr;
     grid-template-rows:5rem 1fr 5rem;
     height: 100vh;
}

header{
    grid-area: header;
    background-color: #203040;
    box-shadow: 1px 0 2px -2px #02181b;
    
}

main{
    grid-area:main;
    padding: 1rem;
    /* height: 100vh auto; */
}

footer{
    grid-area: footer;
    background-color: #203040;
    color:#fff;
}
/* Common Classes */
h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}
a{
    text-decoration: none;
}
a:hover{
    color: #ff8000;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li{
    margin-top:1rem;
}
input, 
select,
textarea,
button {
    padding: 1rem;
    border-radius:.5rem;
    border: 0.2rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     background-color: #f8f8f8;
    cursor: pointer;
}

input:hover, 
select:hover,
textarea:hover,
button:hover{
 border: 0.2rem #404040 solid;
}

button.primary{
    background: #dd9a08;
}
button.block{
    width: 100%;
}

button.small{
    font-size:1.2rem;
    background-color: #f08000;
    color: #fff;
    border: none;
}

button.edit{
    font-size:1.2rem;
    background-color: #00c93ce5;
    color: #fff;
}

button.danger{
    font-size:1.2rem;
    background-color: #f00000;
    color: #fff;
}
/* Header style */
header a{
    color: #fff;
    padding:1rem;
}

a.brand{
color: #fff;
font-size:3rem;
font-weight: bold;
}
.badge{
  background-color:#f02020;
  color: #fff;  
  border-radius: 50%;
  padding:0.2rem 0.7rem;
  font: size 1.4rem;
  margin-left: 0.2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center{
    justify-content: center;
}

.row.top{
   align-items: flex-start; 
   
}

.col-1{
    flex:1 1 25rem;
}

.col-2{
    flex:1 1 50rem;
     margin: 15px;
}

.min-30{
   min-width: 30rem; 
}

/* imges */

img{
    border-radius: 0.5rem;
}

img.medium{
    max-width: 29rem;
    widows: 100%;
}
img.large{
    width: 100%;
}

img.small{
    max-width: 5rem;
    width: 100%;
}
/* Card */
.card{
    border:0.1rem #c0c0c0 solid;
    background-color:#f8f8f8;
    border-radius: 0.5rem;
    margin:1rem;
}

.card-body{
  padding:1rem;
  
}

.card-body > *{
    margin-bottom:0.5rem;
}

.price{
    font-size: 2rem;
}

/* Rating */

.rating span{
    color: #f0c040;
    margin: .1rem;
}
.rating span:last-child{
    color: #404040;
} 

/* alert */
.loading{
    display:block !important;
}
.success{
    color:#20a020
}
.danger{
    color:#a02020
}

.alert{
    padding: 1rem;
    border:0.1rem solide transparent;
    border-radius:0.5rem
}

.alert-info{
    color:#2020a0;
    background-color:#e0e0ff
}

.alert-danger{
    color:#a02020;
    background-color:#ffe0e0e0
}

.alert-success{
    color:#20a020;
    background-color:#eeffe0
}



.shopping{   
    color:#fff;
    background-color:#20a05a9c;
    text-align: center;
    padding: 15px;
    margin:10px;
    border-radius: 2px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;

}

/* Sigin Form */

.form{
    max-width: 60rem;
    margin: 0 auto;
}

.form>div{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form label {
    margin: 1rem 0;
    /* display:block; */
}

/* Dropdown */

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    position: absolute;
    display: none;
    right: 0;
    min-width:12rem;
    padding: 1rem;
    z-index: 1;
    background-color:#203040;
    margin:0;
    margin-top: 0.4rem;
    border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content{
    display:block;
}


/*Checkout Steps  */


.checkout-steps >div{
    border-top:0.3rem #c0c0c0 solid;
    color:#c0c0c0;
    flex:1;
    padding: 1rem;
    font-weight: bold;
}

.checkout-steps >div.active{
    border-top-color: #f08000;
    color:#f08000
}


.fa-lock{
    font-size: 50px;
}

/* Table */

.table{
    width: 100%;
    border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd){
    background-color: #00000017;
}

.table td, .table th{
    text-align: left;
    border:0.1rem solid #e4e4e4;
    padding:0.5rem
}

.table button{
    margin:0 0.2rem
}